@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: url("../../font/Pretendard-Regular.subset.woff2") format(woff2);
}
@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: url("../../font/Pretendard-SemiBold.subset.woff2") format(woff2);
}
@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: url("../../font/Pretendard-Bold.subset.woff2") format(woff2);
}

.header {
    background-position-y: 71px;
}