* {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, button, p, table, th, td {
    padding: 0;
    margin: 0;
}

a, a:link, a:visited {
    color: #999;
    text-decoration: none;
}

img {
    border: 0 none;
    vertical-align: top;
}

input, select, button {
    vertical-align: middle;
}

button {
    overflow: visible;
    background: transparent;
    cursor: pointer;
}
button {
    outline: none;
}

a, a:link, a:visited {
    color: #999;
    text-decoration: none;
}

#headerWrap {
    position: relative;
    z-index: 4;
    zoom: 1;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, .0784313725);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .0784313725);
}

#headerWrap #header {
    padding-top: 24px;
    background-color: #fff;
}

#headerWrap #header.season_bg {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 1920px 168px;
}

#headerWrap #header .headInner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    z-index: 4;
    margin: 0 auto;
    padding: 5px 0 6px;
}

#headerWrap .headInner, #headerWrap .headNavBar .navInner, #headerWrap .lyNavWrap {
    width: 1260px;
}

#headerWrap.gnbTheme1200 .headInner, #headerWrap.gnbTheme1200 .headNavBar .navInner {
    width: 1200px;
}
#headerWrap #header .headInner .jkLogo {
    height: 70px;
    margin: 0;
}
#headerWrap #header .headInner .jkLogo a {
    display: inline;
    font-size: 0;
}

#headerWrap #header .headInner .jkLogo a img {
    height: 100%;
}

#headerWrap #header .headInner .search:has(.autoSearch.autoSearchDisabledClose) {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#headerWrap #header .headInner .search {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 440px;
    height: 40px;
    margin-left: 20px;
    border: 2px solid #003cff;
    border-radius: 8px;
    background-color: #fff;
}

.skip, .blind {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    margin: -1px;
}

form, fieldset, iframe, button {
    border: 0 none;
}

legend {
    position: absolute;
    top: -9999px;
    left: -9999px;
    font-size: 0px;
    letter-spacing: 0px;
    line-height: 0;
}

#headerWrap #header .headInner .search fieldset .smKey {
    position: relative;
    border-radius: 8px;
}

#headerWrap #header .headInner .search fieldset .smKey input#stext {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 36px;
    padding: 9px 16px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    line-height: unset;
    color: #171717;
    position: relative;
    z-index: 1;
    font-size: 15px;
    letter-spacing: 0;
}

#header #AKCDiv {
    width: 100%;
}

.autoSearch {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.autoSearch {
    display: block !important;
}

#headerWrap #header .headInner .search fieldset .autoSearchStop {
    position: absolute;
    top: 36px;
    left: -2px;
    z-index: 99;
    width: 440px;
}

.autoSearch #SearchStart, .autoSearch #SearchStop {
    display: none !important;
}

.autoSearch * {
    font-size: 14px;
    letter-spacing: 0;
    color: #39f;
}

#headerWrap #header .headInner .search fieldset .autoSearch .btnArrow {
    position: absolute;
    top: -25px;
    right: 51px;
}

.autoSearchDisabledClose #btnArrow_C {
    display: block !important;
}

.autoSearch * {
    font-size: 14px;
    letter-spacing: 0;
    color: #39f;
}

#headerWrap #header .headInner .search fieldset .autoSearch .btnArrow button {
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.24 9.78L5.416 7.65A1 1 0 016.175 6h3.65a1 1 0 01.76 1.65L8.759 9.78a1 1 0 01-1.518 0z' fill='%23B8B8B8'/%3E%3C/svg%3E") 50% no-repeat;
}

.autoSearch * {
    font-size: 14px;
    letter-spacing: 0;
    color: #39f;
}

.skip, .blind {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    margin: -1px;
}

#headerWrap #header .headInner .search fieldset .autoSearchStop .searchStopDesc {
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 132px;
    padding: 0;
    border: 2px solid #003cff;
    border-top: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #f9f9f9;
}

.autoSearchDisabledClose #SearchStop #StopDesc {
    display: none !important;
}

#headerWrap #header .headInner .search fieldset .autoSearchStop .description {
    padding: 24px 0;
    background-color: #fff;
    line-height: 22px;
    color: #6a6a6a;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0;
}

#headerWrap #header .headInner .search fieldset .autoSearchStop .btnOdd {
    left: 1px;
    right: 16px;
    text-align: right;
}

.autoSearchStop .btnOdd {
    font-size: 0;
    height: 38px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: end;
    -moz-box-pack: end;
    justify-content: end;
    padding: 0 16px;
    background-color: #f9f9f9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.autoSearchStop .btnOdd button {
    color: #171717;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 400;
}

#headerWrap #header .headInner .search fieldset .autoSearch .btnOdd button {
    font-weight: 400;
    color: #6a6a6a;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: 0;
}

#headerWrap #header .headInner .search fieldset .autoSearch .btnOdd button {
    font-weight: 400;
    color: #6a6a6a;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: 0;
}

#headerWrap #header .headInner .search fieldset .autoSearch .btnOdd button.odd {
    padding-right: 0;
    background: none;
}

#headerWrap #header .headInner .search fieldset .autoSearch .btnArrow {
    position: absolute;
    top: -25px;
    right: 51px;
}

.autoSearchDisabledClose #btnArrow_O {
    display: none !important;
}

#headerWrap #header .headInner .search fieldset .autoSearch .btnArrow button {
    overflow: hidden;
    display: block;
    width: 16px;
    height: 16px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.24 9.78L5.416 7.65A1 1 0 016.175 6h3.65a1 1 0 01.76 1.65L8.759 9.78a1 1 0 01-1.518 0z' fill='%23B8B8B8'/%3E%3C/svg%3E") 50% no-repeat;
}

#headerWrap #header .headInner .search fieldset .autoSearchStop .btnArrowClose button {
    overflow: hidden;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

#headerWrap #header .headInner .search fieldset .autoSearchStart {
    position: absolute;
    top: 36px;
    left: -2px;
    width: 440px;
    height: 390px;
}

.autoSearch #SearchStart, .autoSearch #SearchStop {
    display: none !important;
}

.searchWrap {
    width: 100%;
    height: auto;
    max-height: 390px;
    background-color: #fff;
    border: 2px solid #003cff;
    border-top: none;
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, .1);
    box-shadow: 0 5px 8px rgba(0, 0, 0, .1);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.searchWrap * {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
}

.searchList {
    position: relative;
    top: 0;
    left: 0;
}

.searchList ul {
    width: 100%;
    height: auto;
    max-height: 304px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.searchList ul:not(:has(li)) {
    padding-top: 0;
}

.searchList .btnOdd {
    font-size: 0;
    height: 38px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: end;
    -moz-box-pack: end;
    justify-content: end;
    padding: 0 16px;
    background-color: #f9f9f9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#headerWrap #header .headInner .search fieldset .autoSearch .btnOdd button {
    font-weight: 400;
    color: #6a6a6a;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: 0;
}   

#headerWrap #header .headInner .search fieldset .autoSearch .btnOdd button.odd {
    padding-right: 0;
    background: none;
}

#headerWrap #header .headInner .search fieldset .smKey input.submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 36px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.833 9.167a4.667 4.667 0 11-9.333 0 4.667 4.667 0 019.333 0zm-.252 4.995a6.667 6.667 0 111.288-1.54.185.185 0 01.005.004l3.333 3.334a1 1 0 01-1.414 1.414l-3.212-3.212z' fill='%23003CFF'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 20px 20px;
    cursor: pointer;
    white-space: nowrap;
    text-indent: -9999em;
    z-index: 1;
}

#headerWrap #header .headInner .headBann {
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -moz-box-direction: reverse;
    flex-direction: row-reverse;
    margin-left: auto;
}

#headerWrap #header .headInner .headBann, #headerWrap #header .headInner .headBann .headBannBtns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
}

#headerWrap #header .headInner .headBann .bannBxAlignRow {
    font-size: 0;
}

#headerWrap #header .headInner .headBann .bannBxAlignRow a {
    display: inline-block;
    margin-left: 24px;
    font-size: 14px;
    font-weight: 600;
    color: #222;
    text-align: right;
    vertical-align: middle;
    position: relative;
}

#headerWrap #header .headInner .headBann .bannBxAlignRow a:first-child {
    margin-left: 0;
}

#headerWrap #header .headInner .headBann .bannBxAlignRow a:before {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    content: "";
}


#headerWrap #header .headInner .headBann .bannBxAlignRow a.bann-albamon:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='.25' y='.25' width='23.5' height='23.5' rx='7.75' stroke='%23D2D2D2' stroke-width='.5'/%3E%3Cg clip-path='url(%23clip0_1_4795)'%3E%3Cpath d='M17.105 9.27V5.64L14.93 7.302a5.97 5.97 0 00-2.367-.626c-.2-.01-.414-.01-.414-.01s-.218 0-.423.01a5.97 5.97 0 00-2.367.626L7.184 5.64v3.63a4.783 4.783 0 00-.684 2.453v2.042c0 2.775 2.274 4.875 5.053 4.875h1.183c2.78 0 5.054-2.1 5.054-4.875v-2.043c0-.888-.252-1.725-.685-2.452zm-2.394 4.3a2.511 2.511 0 01-2.504 2.505h-.124A2.511 2.511 0 019.58 13.57v-1.86a2.486 2.486 0 012.479-2.479h.175a2.486 2.486 0 012.478 2.479v1.86z' fill='%23FF6000'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_4795'%3E%3Cpath fill='%23fff' transform='translate(6 5)' d='M0 0h12v14H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}


#headerWrap #header .headInner .headBann .bannBxAlignRow a:before {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    content: "";
}

#headerWrap #header .headInner .headBann .bannBxAlignRow a.bann-gamejob:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Crect x='.25' y='.25' width='23.5' height='23.5' rx='7.75' stroke='%23D2D2D2' stroke-width='.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.7 5.852v2.11a.353.353 0 01-.352.351h-5.835v7.312h3.374v-2.32H12.41a.353.353 0 01-.352-.351v-2.11c0-.193.159-.351.352-.351l3.938-.003c.193 0 .352.158.352.351v7.246a.353.353 0 01-.352.352H8.052a.353.353 0 01-.352-.352V8.665c0-.194.159-.352.352-.352h2.46V5.852c0-.193.158-.352.351-.352h5.485c.194 0 .352.159.352.352z' fill='%2300A6E2'/%3E%3C/svg%3E");
}

#headerWrap #header .headInner .headBann .bannBxAlignRow a.bann-ninehire:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='.25' y='.25' width='23.5' height='23.5' rx='7.75' stroke='%23D2D2D2' stroke-width='.5'/%3E%3Cpath d='M15.252 6.243l-4.149 6.253v5.261h3.248l4.149-6.253V6.243h-3.248z' fill='%23664FFF'/%3E%3Cpath d='M9.647 6.243L5.5 12.496v5.261h3.246l4.15-6.253V6.243H9.646z' fill='%23664FFF'/%3E%3C/svg%3E");
}

#headerWrap #header .headInner .headBann .bannBxAlignRow a.bann-klik:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Crect x='.25' y='.25' width='23.5' height='23.5' rx='7.75' stroke='%23D2D2D2' stroke-width='.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.413 14.254h.603v1.213h-.625a1.61 1.61 0 01-.59-.11c-.351-.137-.6-.375-.778-.633l-.017.02-.054.059c-.589.618-1.384.865-2.104.865-.299 0-.585-.042-.837-.118a2.618 2.618 0 01-.863-.447 2.08 2.08 0 01-1.17.362H8.26v-1.213h.712a.879.879 0 00.37-.08 5.157 5.157 0 01-.555-1.36c-.306-1.173-.3-2.686.303-3.308.44-.452.854-.504 1.047-.504.208 0 .604.016 1.032.387.693.602.724 1.942.51 3.01-.14.708-.38 1.325-.692 1.815.113.076.237.137.372.177.508.153 1.261.057 1.716-.421.365-.384.433-.879.439-1.148V11.02h1.213l.051 2.406c.016.43.33.829.635.829zM10.18 13.15c.131-.291.237-.627.31-.99.2-1.002.042-1.723-.102-1.844l-.003-.002a.31.31 0 00-.41.021l-.015.016c-.14.165-.299 1.15.04 2.302.043.144.102.317.18.497z' fill='%23481AFF'/%3E%3Cpath d='M8.055 15.467H6.538L5.04 12.754l-.624.787v1.926H3V9.199h1.415v2.426L6.336 9.2h1.516l-1.92 2.426 2.123 3.842zM14.828 9.908c0-.194-.07-.36-.21-.5a.688.688 0 00-.502-.208.672.672 0 00-.497.208.686.686 0 00-.206.5c0 .194.068.36.206.5a.676.676 0 00.497.208c.194 0 .361-.07.502-.209.14-.14.21-.305.21-.5zM19.984 15.467H21.5l-2.123-3.842 1.92-2.426h-1.516l-1.92 2.426V9.2h-1.416v6.268h1.416V13.54l.623-.787 1.5 2.713z' fill='%23481AFF'/%3E%3C/svg%3E");
}

#headerWrap #header .headInner .headBann .bannBxAlignRow a .bann-log__tooltip {
    position: absolute;
    bottom: 32px;
    right: 0;
    background-color: #fff;
    white-space: nowrap;
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 40px;
    padding: 4px 12px;
    pointer-events: none;
}

#headerWrap #header .headInner .headBann .bannBxAlignRow a.bann-klik .bann-log__tooltip {
    display: none;
    border: 1px solid rgba(72, 26, 255, .5);
    color: #481aff;
    right: -1px;
}

#headerWrap #header .headNavBar {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
    height: 64px;
    border-bottom: 1px solid #e8e8e8;
}

#headerWrap #header .headNavBar, #headerWrap #header .headNavBar .navInner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    position: relative;
}

#headerWrap #header .headNavBar, #headerWrap #header .headNavBar .navInner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    position: relative;
}

#headerWrap #header .headNavBar .navInner {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    justify-content: flex-start;
    margin: 0 auto;
}

#headerWrap #header .headNavBar .jkNavArea {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    min-width: 1200px;
    margin: -1px 0 0 -1px;
}

#headerWrap #header .headNavBar .jkNavArea .serviceNav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-column-gap: 32px;
    -moz-column-gap: 32px;
    column-gap: 32px;
}

li {
    list-style: none;
}

#headerWrap #header .headNavBar .jkNavArea .serviceNav .navItem {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
}

#headerWrap #header .headNavBar .jkNavArea .serviceNav .navItem .linkItem, #headerWrap #header .headNavBar .jkNavArea .serviceNav .navItem .linkItem span.spNav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
}

#headerWrap #header .headNavBar .jkNavArea .serviceNav .navItem .linkItem span.spNav {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    background-image: none;
    font-weight: 700;
    color: #222;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 0;
}

#headerWrap #header .headNavBar .jkNavArea .serviceNav .navItem .linkItem span.spNav span.txIr {
    color: #222;
}

#headerWrap #header .headNavBar .jkNavArea .serviceNav .navItem.onepick {
    position: relative;
}

#headerWrap #header .headNavBar .userNav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
}

#headerWrap #header .headNavBar .jkNavArea .userNav .userNav-item {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}